<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scene" value="C:\Users\Luka\Documents\Visual Studio 2013\Projects\FERDisplaySystem\DAL\SceneDefinition.json" />
    <add key="sequence" value="C:\Users\Luka\Documents\Visual Studio 2013\Projects\FERDisplaySystem\DAL\CompositionDefinition.json" />
  </appSettings>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="pathDefinitionForJsonFiles" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="FERDisplaySystem" providerName="System.Data.SqlClient" connectionString="Server=Luka-PC\SQLSERVER;Database=FERDisplaySystem;Integrated Security=True;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="6.0.8"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
